body {
	margin: 0;
	background: #ecfbfc;
}

.with-animation {
	animation: wow .67s infinite;
	animation-delay: 7.6s;
}

@keyframes wow {
	0%,100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05) rotate(5deg);
	}
}

.controls {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
}

.player-control {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#preloader {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: #b52b65;
	z-index: 9999;
}

.preloader-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader-item {
	width: 80px;
}

#content {
	width: 100%;
	height: 3000px;
}

.hero {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo {
	position: absolute;
	left: 50px;
	top: 25px;

	width: 50px;
	height: 50px;
}

#hero-img {
	background: url('heart.png');
	background-size: 80%;
	background-repeat: no-repeat;
	min-width: 512px;
	height: 512px;
}